<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.untitled1.sunrays" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="SunRays" android:theme="@style/AppTheme" android:icon="@drawable/Icon">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBrrdskBnyFRdf3xr_bDqLeAzfUuLiXiLg" />
		<!--meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" /-->
	</application>
</manifest>